.main {
    display: flex;
    justify-content: center;
}
.scoreboard-container {
    width: 75%;
    display: flex;
    justify-content: center;
    height: 90px;
}
.left-container {
    display: flex;
    width: 25%;
    justify-content: flex-end;
    font-size: 24px;
    background: linear-gradient(
    143deg,
    rgba(0, 56, 89, 1) 0%,
    rgba(0, 87, 160, 1) 25%,
    rgba(0, 87, 160, 1) 75%,
    rgba(0, 56, 89, 1) 100%
  );
    padding-right: 10px;
}
.center-container {
    display: flex;
    justify-content: space-between;
    width: 50px;
    font-size: 24px;
    padding: 0 20px;
    background-color:black;
    color: white;
}
.right-container {
    display: flex;
    width: 25%;
    justify-content: flex-start;
    font-size:24px;
    background: linear-gradient(
        233deg,
        rgb(107, 0, 0) 0%,
        rgb(160, 0, 32) 25%,
        rgb(160, 0, 0) 75%,
        rgb(221, 12, 8) 100%
      );
    padding-left: 10px;
}