.scoreboard-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.left-container {
    display: flex;
    justify-content: space-between;
    width: 33%;
}
.right-container {
    display: flex;
    justify-content: space-between;
    width: 33%;
}